@import "./utils/colors.scss";
@import "./utils/mixins.scss";

html {
  font-size: 62.5%; /* 1rem = 10px: 10px/16px = 62.5% */
}

.App {
  width: 50%;
  margin: 0 auto;
}

.buttonAdd {
  display: flex;

  align-items: center;
  margin-top: 3rem;
  padding: 1rem 1rem;

  font-size: 3rem;
  color: $green;

  border: 1px solid $blue;
  border-radius: 100px;

  @include boxShadowLight;

  transition: all 0.2s;

  &:hover {
    @include buttonHover;
  }

  &:active {
    @include buttonActive;
  }
}
